{% extends "layout.njk" %}
      {% block header %}
      <header class="foodfyMenu-Admin">
        <link rel="stylesheet" href="/styles.css">
        <div class="foodfyMenu">
            <a href="/index">
                <img src="/layouts/assets/logoAdmin.png" alt="foodfyLogo">
            </a>
            <a href="/about" class="navigationMenu">About us</a>
            <a href="/recipes" class="navigationMenu">Receitas</a>
        </div>    
      </header>
      {% endblock header %}

{% block content %}

      <form method="POST" action="/recipes" class="recipeForm">
            <h2>Criando Receita</h2>
            {% include 'recipes/fields.njk'%}
      </form>

{% endblock content %}
