{% extends "layout.njk" %}


{% block content %}

      <form method="POST" action="/recipes" class="recipeForm">
            <h2>Criando Receita</h2>
            {% include 'recipes/fields.njk'%}
      </form>

{% endblock content %}
