<button type="submit">Salvar</button>

<div class="item">
      <div>Imagem da receita</div>
      <div>
            <input 
            type="url" 
            name="image_url" 
            placeholder="https://" 
            value="{{recipe.image_url}}">
      </div>
</div>

<div class="item">
      <div>Título da receita</div>
      <div>
            <input type="text" name="title" value="{{recipe.title}}">
      </div>
</div>

<div class="item">
      <div>Nome do autor</div>
      <div>
            <input type="text" name="author" value="{{recipe.author}}">
      </div>
</div>

<div class="item">
      <div>Ingredientes</div>
      <div class="item" id="ingredients">
            <div class="ingredient">
                  <input type="text" name="ingredients[]" value="{{recipe.ingredients}}"/>
            </div>
      </div>
      <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
</div>


<div class="item">
      <div>Modo de preparo</div>
      <div id="preparations">
            <div class="preparation">
                  <input type="text" name="preparations[]" value="{{recipe.preparations}}"/>
            </div>
      </div>
      <button type="button" class="add-preparation">Adicionar novo passo</button>
</div>

<div class="item">
      <div>Informações adicionais</div>
      <div>
            <input type="text" name="information" value="{{recipe.information}}">
      </div>
</div>





<script>

function addIngredient() {
  const ingredients = document.querySelector("#ingredients");
  const fieldContainer = document.querySelectorAll(".ingredient");

  // Realiza um clone do último ingrediente adicionado
  const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

  // Não adiciona um novo input se o último tem um valor vazio
  if (newField.children[0].value == "") return false;

  // Deixa o valor do input vazio
  newField.children[0].value = "";
  ingredients.appendChild(newField);
}

document
  .querySelector(".add-ingredient")
  .addEventListener("click", addIngredient);



function addPreparation() {
  const preparations = document.querySelector("#preparations");
  const fieldContainer = document.querySelectorAll(".preparation");

  // Realiza um clone do último ingrediente adicionado
  const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

  // Não adiciona um novo input se o último tem um valor vazio
  if (newField.children[0].value == "") return false;

  // Deixa o valor do input vazio
  newField.children[0].value = "";
  preparations.appendChild(newField);
}

document
  .querySelector(".add-preparation")
  .addEventListener("click", addPreparation);



</script>