{%extends 'layout.njk'%}
{%block content%}
{% block tools %}
<div class="tools">
    <h3>Gerenciando as receitas</h3>
    <a href="/recipes/create">
        <button type="submit">Criar  uma nova receita</button>
    </a>
</div>

{% endblock %}
<section class="container">
    {% for recipe in recipes %}
        <div class="card">
            <img src="{{recipe.image}}" alt="imagem do prato">
            <div class="info">
                <p>{{recipe.title}}</p>
                <p>por {{recipe.chef}}Chefe tal</p>
                <a href="recipes/{{recipe.id}}">Visualizar</a>
            </div>
        </div>
    {% endfor %}
</section>

{%endblock%}