{%extends 'layout.njk'%}


{%block content%}
    
    <div class="recipe">
        <div class="recipe-settings">
            <h3>Receita: {{recipe.title}}</h2>
            <a href="/recipes/{{recipe.id}}/edit">Editar</a>
        </div>
        <div class="recipe-image" style="background-image: url({{recipe.image_url}});"></div>
        <h1>{{recipe.title}}</h1>
        <p>{{recipe.author}}</p>

        <div class="recipe-details">
            <div class="item">
                <h2>Ingredientes</h2>
                <ol>
                    {% for item in recipe.ingredients %}
                    <li>{{item}}</li>
                    {% endfor %}
                </ol>
            </div>
            <div class="item">
                <h2>Modo de preparo</h2>
                <ol>
                    {% for item in recipe.preparations %}
                    <li>{{item}}</li>
                    {% endfor %}
                </ol>
            </div>
            <div class="item">
                <h2>Informações adicionais</h2>
                <p>{{recipe.information}}</p>
            </div>
        </div>
    </div>




{%endblock%}